#map {
  height: 300px; /* Or a percentage/viewport height */
  width: 965px; /* Or a percentage/viewport height */
}
.l-8{
    left: -8rem;
}
.ml-6 {
    margin-left: 1.5rem;
}
.text-xl {
    font-size: 1.25rem;
}
.font-bold {
    font-weight: 700;
}
.font-medium {
    font-weight: 500;
} 
.text-gray-500 {
    --text-opacity: 1;
    color: #a0aec0;
    color: rgba(160, 174, 192, var(--text-opacity));
}
.text-indigo-400 {
    --text-opacity: 1;
    color: #7f9cf5;
    color: rgba(127, 156, 245, var(--text-opacity));
}
.md-1000{
  width: 1000px !important;
}
.w-32 {
    width: 8rem;
}
.h-32 {
    height: 8rem;
}
.h-24 {
    height: 3rem;
}.w-24 {
    width: 10rem;
}.w-full {
    width: 100%;
}
.p-4 {
    padding: 1rem !important;
}
.max-w-xs {
    max-width: 20rem;
}
.flex-col {
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}
.flex {
    display: flex;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.self-center {
    align-self: center;
}
.items-center {
    align-items: center;
}
.inline-flex {
    display: inline-flex;
}
.rounded-lg {
    border-radius: .5rem;
}
/* nav */
.carousel-control-prev, .carousel-control-next 
 {
    color: #6f94cb !important;
 }